{% load static %}
<head>
  <meta charset="utf-8" />
  <!-- Latest compiled and minified CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

{% block nav %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <!-- Section for links related to Hunts -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Hunts</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'hunts:create_hunt' %}">Create New Hunt</a></li>
            <li><a class="dropdown-item" href="{% url 'hunts:all_hunts' %}">All Your Hunts</a></li>
            <li><a class="dropdown-item" href="{% url 'hunts:update_hunt' %}">Update a Hunt</a></li>
            <li><a class="dropdown-item" href="{% url 'hunts:get_hunt' %}">Examine a Hunt</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
        <!-- Section for links related to Reports -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Reports</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'accounts:signup' %}">Create New Report</a></li>
            <li><a class="dropdown-item" href="#">Your Reports</a></li>
            <li><a class="dropdown-item" href="#">Recent Reports</a></li>
          </ul>
        </li>
        <!-- Section for any other links -->
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        
<!-- Section for logged in user accounts-->
      {# Invisible div to prevent overlap of absolute positioned elements #}
      <li class="nav-item dropdown" style="width: 150px"></li>
      <ul class="navbar-nav position-absolute end-0 mx-4">
        {# Create a login or logout link depending whether a user is logged in or not #}
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Accounts</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">Login/Register</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Accounts</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'accounts:signup' %}">Create Account</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a></li>
              </ul>
            </li>
        {% endif %}
      </ul>
      </ul>
    </div>
  </div>
</nav>

{% endblock nav %} 

{% block content %}

{% endblock content %}

{% block footer %}

{% endblock footer%}
