{% extends "base.html" %} 
{% load static %}
{% block content %}

<div>
    <h1>Thank you for registering! </h1>
    <p>Thank you for registering with FowlData.  You will receive an email shortly with a link to verify your email address.  Please click on the link to verify your email address and complete the registration process.  If you do not receive an email within a few minutes, please check your spam folder.  
        If you still do not receive an email, please contact us at
        <a href="mailto:elmorem@gmail.com">
</div
{% endblock content%}